.loginContainer {
  background-image: url('~/assets/images/bg.jpg');
  background-repeat: no-repeat, repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  .formContainer {
    box-shadow: 10px 10px 20px #cbced1;
    border-radius: 1rem;
    padding: 80px 30px;
    background-color: #ffffff;
    text-align: center;
    h1{
      margin-bottom: 50px;
    }
    .btnLogin {
      margin-top: 40px;
      width: 287px;
    }
    .forgotPassword{
      justify-content: center;
      p{
        margin: 0;
      }
      display: flex;
      a{
        text-decoration: none;
        color: #4096ff;
      }
    }
  }
}
.headerConfirm{
  display: flex;
  .iconWarning{
    width: 20px !important;
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-left: 1rem;
  }
}
.warningContent {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

@media only screen and (max-width: 500px) {
  .loginContainer {
    background-image: url('~/assets/images/bg.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .formContainer {
      box-shadow: 5px 5px 10px #cbced1;
      border-radius: 1rem;
      padding: 80px 30px;
      background-color: #ffffff;
      text-align: center;
      width: 65%;
      height: 40%;
      h1{
        margin-bottom: 30px;
        margin-top: 0;
      }
      .btnLogin {
        margin-top: 20px;
        width: 250px;
      }
      .forgotPassword{
        display: table;
        margin: 0 auto;
        p{
          margin: 0;
          width: 100%;
        }
        a{
          text-decoration: none;
          color: #4096ff;
          width: 100%;
        }
      }
    }
  }
  .headerConfirm{
    display: flex;
    .iconWarning{
      width: 20px !important;
    }
    .title {
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      margin-left: 1rem;
    }
  }
  .warningContent {
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
  }
}

