.container{
  background-color: #fff;
  box-shadow: 1px 0px 8px 4px rgb(0 0 0 / 10%);

  .totalMember{
    display: flex;
    align-items: center;
    padding-left: 32px;
    height: 62px;
    font-size: 16px;
    line-height: 24px;

    .title{
      margin-right: 6px;
    }
  }

  .listsMember{
    max-height: calc(100vh - 250px);
    overflow: hidden scroll ;
    padding: 0 16px;
    .item{
      margin: 0 !important;
      border-radius: 10px;
      border:1px solid #D9D9D9 !important;
      box-shadow: 0px 0px 8px 0px #00000033;
    }

    :global{
      .ant-col{
        padding: 5px 8px;
      }
    }

    .background{
      background-color: #fafafa;
    }
  }

}
