.sideNav {
  position: relative;
  background: #ffffff;
  border-right: 1px solid #f0f0f0;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
  min-width: fit-content;
  box-shadow: 0px 5px 25px rgba(34, 51, 84, 0.15);

  :global {
    .ant-menu-sub.ant-menu-inline{
      background-color: #ffffff;
    }

    .ant-menu-item-icon {
      height: 14px;
      width: 14px;
    }

    .ant-menu-title-content, .ant-menu-title-content a {
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
    }


    .ant-menu-submenu-selected {
      .ant-menu-item-icon {
        filter:
          invert(43%)
          sepia(88%)
          saturate(1852%)
          hue-rotate(189deg)
          brightness(98%)
          contrast(106%);
        transition: filter .3s;
      }
    }

    .ant-menu-submenu-active {
      .ant-menu-item-icon {
        filter:
          invert(43%)
          sepia(88%)
          saturate(1852%)
          hue-rotate(189deg)
          brightness(98%)
          contrast(106%);
        transition: filter .3s;
      }
    }

  }

  .btnSetting{
    position: absolute;
    box-shadow: inset 0px 1px 0px #F0F0F0;
    color: rgba(0, 0, 0, 0.85);
    padding: 0 16px;
    bottom: 40px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    height: 40px;

    &:hover{
      color: #1890FF;

      .iconSetting{
        filter:
          invert(43%)
          sepia(88%)
          saturate(1852%)
          hue-rotate(189deg)
          brightness(98%)
          contrast(106%);
        transition: filter .3s;
      }
    }

    .iconSetting{
      margin: 0 8px;
    }
  }

  .btnSettingActive{
    color: #1890FF;
    background-color: #E6F7FF;
    border-right: 3px solid #1890FF;

    .iconSetting{
      filter:
        invert(43%)
        sepia(88%)
        saturate(1852%)
        hue-rotate(189deg)
        brightness(98%)
        contrast(106%);
      transition: filter .3s;
    }
  }

  .collapsed{
    position: absolute;
    box-shadow: inset 0px 1px 0px #F0F0F0;
    padding: 0 16px;
    bottom: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;

    .collapsedIcon{
      cursor: pointer;
      margin:0 8px;
      width: 16px;
      height: 16px;
    }
  }
}

