.container {
  background: #fff;
  overflow-y: scroll;
  height: 100%;
  margin: 0px 100px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  .contentWrapper {
    display: flex;
    flex-direction: column;
    .infoContainer {
      margin: 16px;
    }
  }
  .listFile {
    margin: 16px;
    .btnAdd{
      margin-bottom: 30px;
      display: inline;
      float: right;
    }
  }
}