.filterContainer {
  background: #fff;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  display        : flex;
  justify-content: end;
  padding         : 16px;
    .titleHead {
      height     : 28px;
      font-size  : 20px;
      font-weight: 500;
      line-height: 28px;
      color      : rgba(0, 0, 0, 0.85);
    }
    .btnAdd {
      display: flex;
      justify-content: space-between;
      width: 151px;
      align-items: center;
      .icon {
        width: 14px;
      }
    }
  }

