.mainContainer {
  margin: 30px;
  .profile {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    max-height: 70vh;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .editInfo {
      align-self: end;
      margin: 16px;
    }
    .info {
      display: flex;
      justify-content: space-around;
      width: 50%;
      margin-bottom: 200px;
      .infoLeft,
      .infoRight {
        display: flex;
        flex-direction: column;
        .infoItem{
          margin-top: 1rem;
        }
      }
    }
  }
}