.modalContainer{
  :global {
    .ant-modal-body{
      padding: 16px !important;
    }
    .ant-picker,
    .ant-input-number,
    .ant-input-number-affix-wrapper {
      width: 100%;
    }
    
  }
  .formContainer {
    .uploadBtn{
      margin-bottom: 1rem;
    }
    .checkbox{
      margin-bottom: 1rem;
    }
    .btnGroup{
      display: flex;
      justify-content: flex-end;
      .btnClose{
        margin-right: 5.5px;
      }
    }
  }
}