
.listsThread{
  margin-top: 20px ;
  .groupSave {
    display: flex;
    justify-content: space-around;
  }
}

.headerConfirmDelete{
  display: flex;
  .iconWarning{
    width: 20px !important;
  }
  .title {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    margin-left: 16px;
  }
}