.listContainer {
  margin: 10px 100px;
  :global {
    .ant-card .ant-card-actions {
      max-width: 150px;
      padding-left: 24px;
    }
  }
  .comment{
    margin-top: 20px;
    margin-left: 50px;
  }
}