.listContainer {
  margin: 10px 100px;
  :global {
    .ant-card .ant-card-actions {
      padding-left: 24px;
      li {
        width: fit-content !important;
        margin-right: 15px;
        margin-left: 15px;
      }
    }
    .ant-card-actions>li:not(:last-child){
      border: none;
    }
  }
  .commentContainer{
    .comment{ 
      background-color: #e6f7ff;
      padding: 15px 10px ;
      border-radius: 1rem;
      margin-top: 10px;
      margin-left: 50px;
      margin-right: 50px;
      .commentContent{
        margin-bottom: 0;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .listContainer {
    margin: 10px 0px;
    :global {
      .ant-card .ant-card-actions {
        padding-left: 24px;
        li {
          width: fit-content !important;
          margin-right: 15px;
          margin-left: 15px;
        }
      }
      .ant-card-actions>li:not(:last-child){
        border: none;
      }
    }
    .commentContainer{
      .comment{ 
        background-color: #e6f7ff;
        padding: 15px;
        border-radius: 1rem;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 501px){
  .listContainer {
    margin: 10px 0px ;
    :global {
      .ant-card .ant-card-actions {
        padding-left: 24px;
        li {
          width: fit-content !important;
          margin-right: 15px;
          margin-left: 15px;
        }
      }
      .ant-card-actions>li:not(:last-child){
        border: none;
      }
    }
    .commentContainer{
      .comment{ 
        background-color: #e6f7ff;
        padding: 15px;
        border-radius: 1rem;
        margin-top: 10px;
        margin-left: 50px;
        margin-right: 50px;
      }
    }
  }
}