.header {
  .coverHeader {
    box-shadow: inset 0px -1px 0px #f0f0f0;
    align-items: center;
    display: flex;
    color: #ffffff;
    width: 100%;

    .title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      .logo {
        width: 50px !important;
      }
    }

    .info {
      display: flex;
      margin-left: auto;
      align-items: center;
      .name {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .iconNotification{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 18px !important;
        height: fit-content;
        margin: 0px 10px;
      }
      .coverInfo {
        cursor: pointer;
        display: flex;
      }
      .avatar {
        width: 38px;
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 8px;
        .iconAvatar {
          width: 24px;
          height: 24px;
          border-radius: 50%;
        }
      }
    }
  }
}
.notificationReaded{
  background-color: #fff;
  font-weight: normal;
  text-decoration: line-through;
}
.notificationUnread {
  background-color: #f7f7f7;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media only screen and (max-width: 500px) {
  .header {
    .coverHeader {
      box-shadow: inset 0px -1px 0px #f0f0f0;
      align-items: center;
      display: flex;
      color: #ffffff;
      width: 100%;
      padding: 0;
  
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        .logo {
          width: 50px !important;
        }
        h3{
          display: none;
        }
      }
  
      .info {
        display: flex;
        margin-left: auto;
  
        .name {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: none;
        }
  
        .iconNotification{
          display: flex;
          justify-content: center;
          align-items: center;
          height: 18px !important;

        }
        .coverInfo {
          cursor: pointer;
          display: flex;
        }
        .avatar {
          width: 38px;
          height: 48px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          .iconAvatar {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) and (min-width: 501px) {
  .header {
    .coverHeader {
      box-shadow: inset 0px -1px 0px #f0f0f0;
      align-items: center;
      display: flex;
      color: #ffffff;
      width: 100%;
      padding: 0 15px;
  
      .title {
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
          width: 50px !important;
        }
      }
  
      .info {
        display: flex;
        margin-left: auto;
        .name {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
  
        .iconSearch,
        .iconDetail,
        .iconNotification {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0px 12px;
          width: 38px;
          height: 48px;
        }
        .coverInfo {
          cursor: pointer;
          display: flex;
        }
        .avatar {
          width: 38px;
          height: 48px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-left: 8px;
          .iconAvatar {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
